build/
install/
log/
__pycache__/
*.pyc
*.swp
*.log
.vscode/
.idea/
.DS_Store
*.egg-info/
.pytest_cache/

# Data and large files
*.csv
*.bag
*.mkv
*.mp4
*.png
!**/meshes/*.png
!**/textures/*.png
!**/materials/*.png

# Virtual environments
venv/
.env
